# Configuración del contenedor MySQL en el Servidor Ubuntu de Base de Datos
DB_PORT=3306
DB_ROOT_PASSWORD=PonAquiUnaPasswordRootMuySegura123!
DB_DATABASE=ciber_plataforma
DB_USERNAME=ciber_user
DB_PASSWORD=PonAquiUnaPasswordUsuarioMuySegura123!
